#map {
    position:absolute;
    z-index:0;

    width:100%;
    height:100%;
}

#chartbox {
    font-color:#FFFFFF;
}

.box {
    position:absolute;
    z-index:1;
    top:10%;
    right:7%;

    width:600px;
    height:500px;
    padding:15px;

    opacity:0.85;
    background-color:#383838;
    box-shadow: 5px 5px 2px #7F7F7F;

    font-family:'Cisalpin';
}

.boxtitle {
    position:absolute;
    z-index:2;
    left:10px;

    color:#FFFFFF;

    font-family: 'Cisalpin';
    font-size: 150%;
}

.explain {
    position:absolute;
    z-index:2;
    top:45px;
    left:10px;

    color:#FFFFFF;

    font-family: 'Cisalpin';
    font-size: 100%;
}

.number {
    position:absolute;
    z-index:2;
    right:120px;
    bottom:0px;

    color:#FFFFFF;

    font-family: 'Cisalpin';
    font-size: 150%;
}

.name {
    position:absolute;
    z-index:2;
    right:20px;
    bottom:10px;

    color:#FFFFFF;

    font-family: 'Cisalpin';
    font-size: 100%;
}

#donutchart {
    position: absolute;
    z-index:3;
    top:90px;
    left:-70px;

    width:700px;
    height:400px;
}

#zoomLevelBox {
    position: absolute;
    z-index: 9999;
    top: 110px;
    left: 70px;

    padding: 6px 8px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;

    font-size:smaller;
}

#toggleLegends {
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 70px;

    padding: 6px 8px;

    cursor: pointer;

    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);

    font-size:smaller;
}

.map-tooltip {
    font-size: small;
}

.navbar {
    height: 100px;

    background-color: #fff;
}
